@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Prosto+One&family=Rowdies:wght@300;400;700&display=swap');

:root {
    --cor00:#2D76B6;
    --cor01:#442F74;
    --cor02:#16063A;
    --cor03:#F229FF;
    --preto:#000;
    --branco:#fff;
    --Fontetitulos:"Prosto One";
    --FonteTextos:"Source Code Pro";
    }

    html::-webkit-scrollbar, body::-webkit-scrollbar {
        display: none;
    }
    

    body, html {
        background-image:linear-gradient(to bottom , var(--cor01), var(--cor02), var(--preto));
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: relative;
        scrollbar-width: none;
    }

    *{
        margin:0px;
        padding: 0px;
        box-sizing: border-box;
    }

    h1 {
        text-align: center;
        font-weight: 200;
        font-size: 3.5rem;
        font-family: var(--Fontetitulos), sans-serif;
        color: white;
    }

    h3 {
        text-align: center;
        font-family: var(--Fontetitulos);
        color: var(--branco);
    }

    p {
        text-align: justify;
        font-family: var(--FonteTextos);
        color: white;

    }

    li {
        color:var(--branco);
        font-family: var(--FonteTextos);
        list-style: none;
    }

    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    
    .content {
        display: flex;
        flex: 1;
        padding: 20px;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    header {
        background-color: transparent;
        margin-top: 5px;
        text-align:right;
        position: fixed;
        width: 100%;
        z-index: 100;

    }

    .menu {
        color:var(--branco);
        text-decoration: none;
        font-family: var(--Fontetitulos);
        text-align: right;
        font-size: .8rem;
        padding: 4px;
        margin: 4px;

    }

    .menu:hover {
        color: #F229FF;
    }

    section {
        display: none;
        position: absolute;
        left:0;
        width: 100%;
        height: calc(100vh - 140px);
        padding: 5px;
        box-sizing: border-box;
        box-sizing: border-box;
        overflow-y: auto;
    
    }
    
    
    section.active {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      footer{
        background-color: transparent;
        background-color: #000;
        position: fixed;
        bottom:0;
        width: 100%;
        text-align: center;
        font-size: .7rem;
        color: var(--branco);
        font-family: var(--Fontetitulos), sans-serif;
        width: 100%;
        z-index: 100;
      }
      footer > p {
        text-align: center;
        
        
      }